<footer class="bg-f3f1e5 fixed-bottom border-top border-dark border-3">
  <div class="container">
    <div class="row align-items-center h-87-p">
      <h6 class="text-center">© 7TAO七逃. All Rights Reserved</h6>
    </div>
  </div>
</footer>