<div class="border-bottom border-dark border-3">
  <div class="container">
    <div class="row align-items-center h-79-p">
      <div class="col d-flex p-0">
        <div class="me-3">
          <img src="../assets/images/logo.png" alt="logo" width="53" height="53">
        </div>
        
        <h1 class="fs-2 fw-bold d-none d-lg-flex align-items-center m-0 me-1">7TAO</h1>
        <p class="fw-bold d-none d-lg-flex align-items-center m-0 me-4">活動訂票網</p>
        
        <div class="input-group p-0 w-335-p h-55-p">
          <input type="text" class="form-control" placeholder="探索活動" aria-label="探索活動" aria-describedby="搜尋探索活動">
          <button class="btn btn-outline-secondary d-flex justify-content-center align-items-center bg-dark p-0 w-55-p" type="button" id="but-search-discovery-activities">
            <span class="material-symbols-outlined text-warning">
              search
            </span>
          </button>
        </div>
        
        <ul class="list-unstyled d-none d-md-flex align-items-center m-0 ms-auto">
          <li class="me-3">
            <a class="nav-link d-flex justify-content-center fs-add2" href="javascript:void(0);">
              <i class="icofont-ui-file"></i>
              REGISTER
            </a>
          </li>
          <li>
            <a class="nav-link d-flex justify-content-center fs-add2" href="login.html">
              <i class="icofont-ui-user"></i>
              LOGIN
            </a>
          </li>
        </ul>

        <nav class="navbar d-md-none ms-auto">
          <div class="container-fluid">
            <button 
              class="navbar-toggler border-dark border-1" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#navbarNavMenu">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="collapse border-bottom border-dark border-3" id="navbarNavMenu">
  <div class="container">
    <div class="row">
      <ul class="list-unstyled d-md-none align-items-center m-0 fw-bold">
        <li class="mt-4 mb-3">
          <a class="nav-link d-flex align-items-center fs-add2" href="javascript:void(0);">
            <i class="icofont-ui-file"></i>
            REGISTER
          </a>
        </li>
        <li class="mb-3">
          <a class="nav-link d-flex align-items-center fs-add2" href="login.html">
            <i class="icofont-ui-user"></i>
            LOGIN
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>