* {
  font-family: 'Castoro', serif;
}

.w-32-p {
  width: 32px;
}

.w-48-p {
  width: 48px;
}

.w-55-p {
  width: 55px;
}

.w-335-p {
  width: 335px;
}

.h-32-p {
  height: 32px;
}

.h-48-p {
  height: 48px;
}

.h-55-p {
  height: 55px;
}

.h-79-p {
  height: 79px;
}

.h-87-p {
  height: 87px;
}